flask==2.2
flask-restful==0.3.9
flask_sqlalchemy==3.0.2 
marshmallow==3.17.1
marshmallow-sqlalchemy==0.28.1
Faker==14.0.0
requests==2.25.1
requests-cache==0.9.6
kafka-python==2.0.2
gunicorn==20.1.0
flask_cors==3.0.10
flask_jwt_extended==4.4.4
marshmallow-enum==1.5.1
pydub==0.25.1
gevent==22.10.1
wheel
mysqlclient==2.1.1
mysql-connector==2.2.9